<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.moscowbooks.ru/image/book/721/orig/i721576.jpg?cu=20210531115528" class="d-block w-25" alt="Martin Eden">
      <div class="carousel-caption d-block">
        <h5>Martin Eden</h5>
        <p>The great book</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://cdn.respublica.ru/uploads/00/00/00/61/hs/large_webp_1ed1656c5e905f5e.webp?1517480116" class="d-block w-25" alt="Financier">
      <div class="carousel-caption d-block">
        <h5>Financier</h5>
        <p>Theodore Dreiser</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://ae04.alicdn.com/kf/S0e4f0826591c4960bb8ced8f79336d2c6.jpg" class="d-block w-25" alt="Steven King">
      <div class="carousel-caption d-block">
        <h5>Steven King</h5>
        <p>The gorgeous horror of all time</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>