<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="https://images.thalia.media/-/BF2000-2000/f36f5f9aba784d53b0aad18ecf31c06d/martin-eden-taschenbuch-jack-london.jpeg" class="d-block w-25" alt="Martin Eden">
      </div>
      <div class="carousel-item">
      <img src="https://cdn.respublica.ru/uploads/00/00/00/61/hs/large_webp_1ed1656c5e905f5e.webp?1517480116" class="d-block w-25" alt="Financier">
      </div>
      <div class="carousel-item">
      <img src="https://ae04.alicdn.com/kf/S0e4f0826591c4960bb8ced8f79336d2c6.jpg" class="d-block w-25" alt="Steven King">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<style>
.carousel-item img {
    width: 100%; /* Задает ширину 100% от родительского элемента */
    height: 400px; /* Устанавливает фиксированную высоту */
    object-fit: contain; /* Сохраняет пропорции изображения и не обрезает его */
}
</style>